#board {
    position: relative;
    background-color: rgb(161, 208, 202);
    height: 100vh;
    background-image: url("../img//background.jpg");
    background-repeat: repeat-x;
    background-size: auto 100%;
}

.player {
    position: absolute;
    background-color: rgb(23, 162, 113);
}

.obstacle {
    position: absolute;
    background-color: rgb(226, 14, 71);
}